**/build/
**/fp-info-cache/
**/Impact_driver_controller-backups/
**/MCU_module-backups/
**/DRV8874_module/
**/control_panel_module-backups/
**/control_panel_module_2-backups/
**/pico-sdk/
**/.vscode/
**/.DS_Store
**/.idea/
**/cmake-build-debug/
